snippet iqa "Qualified Named Import"
import qualified $1 as $2
endsnippet

snippet f "Function"
$1 :: $2
$1 $3
endsnippet

snippet g "Generic Delimiter"
=>
endsnippet

snippet t "To"
->
endsnippet

snippet i "If then else block"
if $1
  then $2
  else $3
endsnippet
