snippet pc "Pre Code"
<pre><code class="$1">
$2
</code></pre>
endsnippet

snippet t "Tag"
<${1:p}>
	$2
</$1>
endsnippet

snippet ta "Tag with Attribute"
<${1:h2} $2>
	$3
</$1>
endsnippet

snippet i "Inline Tag"
<${1:b}>$2</$1>
endsnippet

snippet ia "Inline Tag with Attribute"
<${1:a} $2>$3</$1>
endsnippet

snippet c "Self-closing tag"
<${1:hr} />
endsnippet
