snippet l "Mini.deps Later Function Block"
later(function() -- $1
	$2
end)
endsnippet

snippet n "Mini.deps Now Function Block"
now(function() -- $1
	$2
end)
endsnippet

snippet a "Add plugin"
add {
	source: '$1', $2
}
endsnippet
