snippet aug "Autocommand Group"
augroup $1
  autocmd!
  $2
augroup END
endsnippet

snippet acft "Autocommand Filetype"
autocommand FileType $1
endsnippet

snippet <l "Leader Key"
<leader>
endsnippet

snippet <ll "Local Leader Key"
<localleader>
endsnippet

snippet P "Plugin"
Plug '$1'
endsnippet
