snippet v9 "Vim9script Header"
vim9script

endsnippet

snippet fb "Fold Block"
" $1 {{{

$2

" }}}
endsnippet

snippet P "Plugin"
Plug '$1'
endsnippet

snippet <l "Leader Key"
<leader>
endsnippet

snippet <ll "Local Leader Key"
<localleader>
endsnippet

snippet ftd "Filetype Detect"
au BufNewFile,BufRead *.$1 setf $2
endsnippet
